.main-section {
	min-height: 100vh;

	#map {
		height: 80vh;
		width: 100%;
		@include media-breakpoint-up(md) {
			height: 35vh;
			width: 100%;
		}
	}

	.section-breaker {
		border-bottom: 1px solid $light-grey;
		p {
			margin: 4px;
		}
	}

	.restaurant-section {
		overflow-x: hidden;
	
		@include media-breakpoint-up(md) {
			height: 60vh;
			overflow-y: auto;
		}

		@include media-breakpoint-up(lg) {
			height: 100%;
			width: 100%;
			overflow: hidden;
		}

		.restaurant-list{
			@include media-breakpoint-up(lg) {
				width: 106%;
				height: 100%;
				overflow-y: scroll;
				padding-right: 17px;
			}
		}

		ul {
			padding: 0px;

			.restaurant {
				list-style-type: none;
				padding: 20px;
				padding-bottom: 10px;
				margin-top: 8.3vw;
				border: 1px solid $light-grey;

				@include media-breakpoint-up(lg) {
					margin-left: 3.45vw;
					margin-top: 3.45vw;
				}
	
				a, label {
					margin: 1vh;
				}

				h2 {
					font-size: $title-md-font-size;
					color: $light-green;
				}
			}
		}
	}
}

