//temp fix
.nav-logo {
	height: 170px;
	width: 150px;
}
.arrow-down{
	height: 50px;
	width: 100px;
}

#parameter-zone {
	background-color: $light-green;
	color: $white;
	height: 100vh;
	padding-top: 10vh;

	h2 {
		margin-top: 2vh;
		margin-bottom: 2vh;
	}

	form {
		margin-top: 3vh;
		align-items: center;
	}

	input, select {
		margin: 0 auto;
		width: 60%;
		margin-bottom: 3vh; 
	}

	.btn-secondary {
		background-color: $light-green;
		color: $white;
		border-color: $white;
	}
	.btn-secondary:hover {
		background-color: $white;
		color: $light-green;
		border-color: $light-green;
	}
}