//temp fix
.nav-logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

#parameter-zone {
	background-color: $light-green;
	color: $white;
	min-height: 100vh;
	padding-top: 10vh;

	h2 {
		margin-top: 2vh;
		margin-bottom: 2vh;
	}

	.form-group {
		margin-top: 3vh;
		margin-bottom: 0px;
	}

	form {
		margin-top: 3vh;
		align-items: center;
	}

	.btn-secondary {
		margin-top: 3vh;
		background-color: $light-green;
		color: $white;
		border-color: $white;
	}
	.btn-secondary:hover {
		background-color: $white;
		color: $light-green;
		border-color: $light-green;
	}
}