.sliding-wrapper {
    overflow: hidden;

    input[type="checkbox"]{
        display:none;
    }

    input[type="checkbox"]:checked ~ aside{
        margin:0;
    }
    
    input[type="checkbox"]:checked ~ .trigger-button {
        left:260px;
    }

    input[type="checkbox"]:checked ~ section{
        transform:translate3d(260px, 0, 0);
    }

    aside {
        width:100vw;
        max-height: 100vh;
        overflow: auto;
        z-index: 1;
        position: absolute;
        background-color: $white;
        top:0;
        right:0;
        margin:0 -100vw 0 0;
        transition:all 200ms ease-in;
       
        @include media-breakpoint-up(md) {
            margin:0 -75vw 0 0;
            width: 75vw;
            max-height: 60vh;
        }
        @include media-breakpoint-up(lg) {
            margin:0 -37.5vw 0 0;
            width:37.5vw;
        }

        .review {
            border: 1px solid $light-green;
            margin-bottom: 2vh;
            padding: 10px;
    
            .rating-zone {
                margin-bottom: 2vh;
        
                .rating {
                    border-bottom: 1px solid $black;
                }
            
                .rating-date {
                    font-size: 0.8em;
                }
            }
        }
        
        .close-button {
            z-index: 1;
            position: sticky;
            top: 2px;
            left: 2px;
        }
    }
}

.trigger-button {
    transition:all 200ms ease-in;
    z-index:0;
}