.up-button {
	position: sticky;
	z-index: 2;
	top: 90%;
	left: 5px;
}

#main-zone {
	min-height: 100vh;

	#map {
		height: 80vh;
		width: 100%;
		@include media-breakpoint-up(md) {
			height: 35vh;
			width: 100%;
		}
	}

	.section-breaker {
		box-shadow: 5px 5px 5px grey;
		p {
			margin: 0px;
		}
	}

	.restaurant-section {
		overflow-x: hidden;

		@include media-breakpoint-up(md) {
			height: 60vh;
			overflow-y: auto;
		}
		

		li {
			list-style-type: none;
		}

		ul {
			padding: 0px;
		}

		p {
			margin: 0px;
		}

		h2 {
			font-size: $title-md-font-size;
		}

		.restaurant {
			padding: 20px;
			padding-bottom: 10px;
			margin-top: 3vh;
			margin-bottom: 3vh;
			border-radius: 5px;
			box-shadow: 5px 5px 5px grey;

			a, label {
				margin: 1vh;
			}

			.distance {
				display: flex;

				.localisation-icon {
					height: 20px;
				}
			}
			
			.restaurant-picture {
				width: 100%;
			}
		}
	}
}