.main-section {
	min-height: 100vh;

	#map {
		height: 80vh;
		width: 100%;
		@include media-breakpoint-up(md) {
			height: 35vh;
			width: 100%;
		}
	}

	.section-breaker {
		box-shadow: 5px 5px 5px $grey;
		p {
			margin: 4px;
		}
	}

	.restaurant-section {
		overflow-x: hidden;

		@include media-breakpoint-up(md) {
			height: 60vh;
			overflow-y: auto;
		}

		ul {
			padding: 0px;

			.restaurant {
				list-style-type: none;
				padding: 20px;
				padding-bottom: 10px;
				margin-top: 3vh;
				margin-bottom: 3vh;
				border-radius: 5px;
				box-shadow: 5px 5px 5px $grey;
	
				a, label {
					margin: 1vh;
				}

				h2 {
					font-size: $title-md-font-size;
				}
			}
		}
	}
	
}