#main-zone {
	min-height: 100vh;

	#map {
		height: 35vh;
		width: 100%;
	}

	.restaurant-list {
		height: 65vh;
		overflow: auto;

		li {
			list-style-type: none;
			
		}

		p {
			margin: 0px;
		}

		h2 {
			font-size: $title-font-size;
		}

		.restaurant {
			padding: 20px;
			margin-top: 3vh;
			margin-bottom: 3vh;
			background-color: $white;
			border-radius: 5px;

			button {
				margin: 1vh;
			}

			.distance {
				display: flex;

				.localisation-icon {
					height: 20px;
				}
			}
			
			.restaurant-picture {
				width: 100%;
			}

			//accordeon test
			label {
				height: 100%;
				margin: 1vh;
			}
			input {
				position: absolute;
				opacity: 0;
				z-index: -1;
			}

			.tab-content {
				max-height: 0;
				overflow: hidden;
				-webkit-transition: max-height .35s;
				-o-transition: max-height .35s;
				transition: max-height .35s;
			}

			input:checked ~ .tab-content {
				max-height: 10em;
			}

			
		}
	}
}