.sliding-wrapper {
    overflow: hidden;

    input[type="checkbox"] {
        display:none;
    }

    input[type="checkbox"]:checked ~ aside {
        margin:0;
    }

    aside {
        width:100vw;
        max-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1;
        position: absolute;
        background-color: $white;
        top:0;
        right:0;
        margin:0 -100vw 0 0;
        transition:all 200ms ease-in;
        min-height: 100%;
       
        @include media-breakpoint-up(md) {
            margin:0 -75vw 0 0;
            width: 75vw;
            max-height: 60vh;
        }
        @include media-breakpoint-up(lg) {
            margin:0 -37.5vw 0 0;
            width:37.5vw;
        }

        @include media-breakpoint-up(xl) {
            margin:0 -41.6vw 0 0;
            width:41.6vw;
        }

        .review {
            border: 1px solid $light-green;
            margin-bottom: 2vh;
            padding: 10px;

            figcaption {
              font-size: $small-font-size;

              @include media-breakpoint-up(md) {
                font-size: $text-md-font-size;
              }
            }
    
            .rating-zone {
                margin-top: 1vh;

                @include media-breakpoint-up(md) {
                    margin-top: -3vh;
                }
            }

            p {
                border-top: 1px solid $black;
                padding-top: 2vh;
                font-size: $text-md-font-size;

                @include media-breakpoint-up(md) {
                    font-size: $normal-font-size;
                }
            }
        }
        
        .close-button {
            z-index: 1;
            position: sticky;
            top: 2px;
            right: 0px;
        }
    }
}

.trigger-button {
    transition:all 200ms ease-in;
    z-index:0;
}