#review-list {
    overflow: hidden;

    input[type="checkbox"] {
        display:none;
    }

    aside {
        width:100vw;
        max-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1;
        position: absolute;
        background-color: $white;
        top:0;
        right:0;
        margin:0 -100vw 0 0;
        transition:all 200ms ease-in;
        min-height: 100%;

        p {
            font-size: $text-md-font-size;
        }
       
        @include media-breakpoint-up(md) {
            margin:0 -75vw 0 0;
            width: 75vw;
            max-height: 60vh;
        }
        /*
        @include media-breakpoint-up(lg) {
            margin:0 -37.5vw 0 0;
            width:37.5vw;
        }
        */

        @include media-breakpoint-up(xl) {
            margin:0 -83.2vw 0 0;
            width:83.2vw;
        }

        .review-title {
            padding: 20px;
            padding-bottom: 10px;
            margin-top: 4.7vw;
            border: 1px solid $light-grey;

            h2 {
                font-size: $title-md-font-size;
                color: $light-green;
            }
        }

        .placeholder {
            padding: 20px;
            padding-bottom: 10px;
            margin-top: 4.7vw;
            border: 1px solid $light-grey;
            h2 {
                font-size: $title-md-font-size;
            }
        }

        .review {
            border: 1px solid $light-grey;
            padding: 20px;
            padding-bottom: 10px;
            margin-top: 8.3vw;

            @include media-breakpoint-up(lg) {
                margin-left: 4.7vw;
                margin-top: 4.7vw;
            }

            figcaption {
              font-size: $small-font-size;

              @include media-breakpoint-up(md) {
                font-size: $text-md-font-size;
              }
            }
    
            .rating-zone {
                margin-top: 1vh;

                @include media-breakpoint-up(md) {
                    margin-top: -3vh;
                }
            }

            p {
                border-top: 1px solid $light-green;
                padding-top: 2vh;
            }

            h2 {
                font-size: $title-md-font-size;
                color: $light-green;
            }
        }
        
        .closing-button {
            z-index: 1;
            position: sticky;
            top: 2px;
            right: 0px;
            text-decoration: none;
            align-self: center;
        }
    }
}

#review-list:target {

    aside {
        margin: 0;
    }
}

.open-review {
    transition:all 200ms ease-in;
    z-index:0;
}