.input-range {
    span {
        color: $white;
        font-size: 0.9em;
    }

    .input-range__label--min,
    .input-range__label--max {
        top: 120%;
    }

    .input-range__label--value {
        top: -2.5em;
    }

    .input-range__track,
    .input-range__slider-container {
        transition: none;
    }
}